Repository ku3b1k0/first-angular-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --cache --fix, npx stylelint --cache --fix

chore: added montserrat font to styles.css and applied to body
  package-lock.json
  package.json
  src/styles.css
Due: npx stylelint --cache --fix

chore: added variable font monserrat and tailwind css framework and integrated with app
  .postcssrc.json
  .stylelintcache
  package-lock.json
  package.json
  src/app/app.html
  src/app/app.spec.ts
  src/app/app.ts
  src/app/user-profile.model.ts
  src/styles.css
Due: npx eslint --cache --fix, npx stylelint --cache --fix

chore: updated based on angular folder structure best practices
  .eslintcache
  .scannerwork/.sonar_lock
  .scannerwork/report-task.txt
  .stylelintcache
  angular.json
  karma.conf.js
  package.json
  sonar-project.properties
  src/app/app.html
  src/app/app.spec.ts
  src/app/app.ts
  src/app/layout/footer/footer.component.html
  src/app/layout/footer/footer.component.spec.ts
  src/app/layout/footer/footer.component.ts
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.spec.ts
  src/app/layout/header/header.component.ts
  src/app/layout/main/main.component.html
  src/app/layout/main/main.component.spec.ts
  src/app/layout/main/main.component.ts
Due: npx eslint --cache --fix

chore: router basics
  .eslintcache
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/features/about/about.component.html
  src/app/features/about/about.component.spec.ts
  src/app/features/about/about.component.ts
  src/app/features/contact/contact.component.html
  src/app/features/contact/contact.component.spec.ts
  src/app/features/contact/contact.component.ts
  src/app/features/home/home.component.html
  src/app/features/home/home.component.spec.ts
  src/app/features/home/home.component.ts
  src/app/features/not-found/not-found.component.html
  src/app/features/not-found/not-found.component.spec.ts
  src/app/features/not-found/not-found.component.ts
  src/app/features/services/services.component.html
  src/app/features/services/services.component.spec.ts
  src/app/features/services/services.component.ts
  src/app/layout/main/main.component.html
  src/app/layout/main/main.component.ts
Due: npx eslint --cache --fix

chore: router basics
  .eslintcache
  src/app/app.routes.ts
  src/app/features/about/about.component.html
  src/app/features/services/services.component.html
Due: npx eslint --cache --fix

chore: router with page title and routerlinkactive and routerlinkactiveoptions usage
  .eslintcache
  src/app/app.routes.ts
  src/app/app.spec.ts
  src/app/features/about/about.component.html
  src/app/features/contact/contact.component.html
  src/app/features/home/home.component.html
  src/app/features/services/services.component.html
  src/app/layout/footer/footer.component.spec.ts
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.spec.ts
  src/app/layout/header/header.component.ts
Due: npx eslint --cache --fix

chore: router with page title and routerlinkactive and routerlinkactiveoptions usage
  .eslintcache
  src/app/features/about/about.component.spec.ts
  src/app/features/contact/contact.component.spec.ts
  src/app/features/home/home.component.spec.ts
  src/app/layout/main/main.component.spec.ts
Due: npx eslint --cache --fix

chore: router with page title and routerlinkactive and routerlinkactiveoptions usage
  src/app/features/not-found/not-found.component.spec.ts
  src/app/features/services/services.component.spec.ts
Due: npx eslint --cache --fix

chore: router with page title and routerlinkactive and routerlinkactiveoptions usage
  src/app/app.spec.ts
Due: npx eslint --cache --fix

chore: updated founded name
  .eslintcache
  src/app/about.component.ts
  src/app/features/about/about.component.html
  src/app/footer/footer.component.html
  src/app/header/header.component.html
  src/app/main/main.component.html
Due: npx eslint --cache --fix

chore: updated founder profile
  .eslintcache
  public/aaron_paul.jpg
  src/app/features/about/about.component.html
Due: npx eslint --cache --fix

chore: added netlify.toml
  .eslintcache
  netlify.toml
Due: none

chore: linting for self closing tags
  eslint.config.js
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.ts
Due: npx eslint --cache --fix

chore: added linting for self closing tags
  .eslintcache
  eslint.config.js
  src/app/about.component.ts
  src/app/app.html
  src/app/layout/main/main.component.html
  src/app/main/main.component.html
Due: npx eslint --cache --fix

Path conditions:
  npx eslint --cache --fix: any of: **/*.{ts,html}
  npx stylelint --cache --fix: any of: **/*.css
